extends layout

block pug_data
  div.container-fluid
    div.container
      div.col-md-12.row.justify-content-center

        h1=mensaje

        table.table.table-striped
          for person in personas
            tr
              td= person.id
              td
                a(href='/persona/'+ person.id) #{person.nombre}

