extends layout

block pug_data
  .container
  br
  // Importante indicar el path donde se encuentra el metodo POST
  form(action="/personaForm/persona/operar" method="POST")
    input(type="hidden" name="_id" value="{{persona._id}}")
    .form-group
      label(for="Nombres") Nombres:
      input#nombres.form-control(type="nombres" name="nombres" value="{{persona.nombres}}")
    .form-group
      label(for="apellidos") Apellidos:
      input#apellidos.form-control(type="text" name="apellidos" value="{{persona.apellidos}}")
    .form-group
      label(for="edad") Edad:
      input#edad.form-control(type="number" name="edad" value="{{persona.edad}}")
    button.btn.btn-primary(type="submit") Aceptar
    a.btn.btn-danger(href="/") Cancelar
