html
  head
    title=titulo
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  body

  div.container-fluid
    div.container
      div.col-md-9.row.justify-content-center

        h1=mensaje

        table.table.table-striped
          for person in personas
            tr
              td= person.id
              td
                a(href='/persona/'+ person.id) #{person.nombre}
